<!-- content.ejs -->

<!-- Table headers for the task list -->
<div class="task-heading" data-tasks='<%= JSON.stringify(tasks) %>'>
    <p class="column-name">ID</p>
    <p class="column-name">Title</p>
    <p class="column-name">Description</p>
    <p class="column-name">Priority</p>
    <p class="column-name">Status</p>
    <p class="column-name action-heading">Action</p>
</div>

<div id="task-container"></div>
<div id="paginate-buttons">
    <button class="button" id="previous">Previous</button>
    <button class="button" id="next">Next</button>
</div>